<div class="container">
    <div class="row align-buttons">
        {% for field in fields %}
        <div class="image-container col-lg-4 col-sm-12">
            <div class="card">
                <img src="{{ field.image.url }}" class="card-img-top" alt="{{ field.name }}">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'law-home'%}">{{ field.name }}</a></h5>
                    <hr>
                     <p class="card-text">{{ field.description }}</p>
                     
                     <ul class="list-group list-group-flush">
                    {% for topic in field.topic_set.all %} 
                        <li class="list-group-item">
                            <a  href="#">{{ topic.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
                </div>
          </div>
    </div>
    {% endfor %}
    </div>
</div>
<hr>