{% extends "templates_bases.html" %}
{% block content %}
{% include "Law/law_navbar.html" %}

<body class="team-page">
  <div class="container">
    <h5 class="lawyer">Decouvrer les experts qui vous accompagnent dans tous vos besoins légaux.</h5>

    <div class="row">
      {% for lawyer in lawyers %}
        <div class="card justify-content-center" style="width: 22rem; ">
          <img src="{{ lawyer.image.url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="lawyer-name">Me. {{lawyer.full_name}}</h5>
            <h5 class="lawyer-name">{{lawyer.first_name}}</h5>
            <hr>
            
            <p class=" lawyer-text">{{lawyer.description}}</p>
            <p class=" lawyer-text"  style="text-align: right; color: peru;" >{{lawyer.domain}}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  </body>

  {% include "Law/law_footer.html" %}
    

{% endblock content %}



